# CheckPoint VPN
CHECKPOINT_VPN_SERVER=your.checkpoint.server
CHECKPOINT_VPN_USER=your_username
# CHECKPOINT_VPN_LOGIN_TYPE=vpn_Indeed
# CHECKPOINT_VPN_TUNNEL_TYPE=ssl
# CHECKPOINT_VPN_IGNORE_CERT=true
# CHECKPOINT_VPN_HEALTH_IP=10.226.0.5
# CHECKPOINT_VPN_IFACE=snx-tun

# FortiClient VPN
# FORTI_VPN_HOST=your.fortigate.host
# FORTI_VPN_USER=domain\username
# FORTI_VPN_PORT=443
# FORTI_VPN_TRUSTED_CERT=
# FORTI_VPN_HEALTH_IP=8.8.8.8
# FORTI_VPN_IFACE=ppp0
